[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
setup = "docker-compose up -d"
clear = "docker-compose down"
populate = "python init.py"
main = "python graph.py"

[packages]
pandas = "*"
matplotlib = "*"
psycopg2 = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.2"
